<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.barablah.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/barablah/mapper/BarablahCampusMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahClassMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahClassLessonMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahClassMemberMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahCourseMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahCourseCategoryMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahMemberMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahMemberCommentMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahMemberHomeworkItemMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahMemberHomeworkMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahMemberLessonMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahMemberPassportMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahMemberPointLogMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahPositionMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahPositionContentMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahRegionMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahTeacherMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahTeacherHomeworkItemMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahTeacherHomeworkMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahTextbookMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahTextbookCategoryMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahTeacherMajorMapper.xml"/>
        <mapper resource="com/barablah/mapper/BarablahCountryMapper.xml"/>
    </mappers>
</configuration>