<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.balabala.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/balabala/mapper/BalabalaCampusMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaClassLessonMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaClassMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaClassMemberMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaCourseCategoryMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaCourseMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaMemberMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaMemberLessonMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaMemberPassportMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaRegionMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaTeacherMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaTextbookCategoryMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaTextbookHomeworkMapper.xml"/>
        <mapper resource="com/balabala/mapper/BalabalaTextbookMapper.xml"/>
    </mappers>
</configuration>